@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

footer {
    font-family: 'Jost', sans-serif;
}

.container {
    width: 1334px;
    margin: auto;
}

.button {
    color: #FFF;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
    background: #2000E7;
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
    padding: 12px 36px;
    border: 2px solid #2000E7;
    display: inline-block;
    text-align: center;
    transition: all 0.3s;
}

.button:hover {
    background: #F2BD00;
    border: 2px solid #F2BD00;
}

.button-outline {
    background: rgba(32, 0, 231, 0.04);
    color: #2000E7;
}

.button-outline:hover {
    background: rgba(32, 0, 231, 0.04);
    color: #F2BD00;
}

.title {
    color: #2000E7;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 16.8px;
    margin: 0;
}

/* Page Header */

.page-header .logo {
    color: #0E0578;
    font-size: 48px;
    font-weight: 700;
    text-decoration: none;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

/* Page Nav */

.page-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.page-nav ul li {
    margin-left: 80px;
}

.page-nav ul a {
    color: #686565;
    font-size: 30px;
    text-decoration: none;
}

.page-nav ul a:hover {
    text-decoration: underline;
}

/* Greeting */

.greeting {
    margin-top: 155px;
}

.greeting .container {
    display: flex;
}

.greeting h1 {
    color: #2000E7;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.greeting p {
    color: #383838;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-right: 105px;

}

.greeting .styled {
    color: #2000E7;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.greeting .styled span {
    color: #F2BD00;
}

.greeting .button {
    width: 246px;
    margin-top: 75px;
    margin-right: 80px;
}

/* About Me */

.about-me {
    margin-top: 140px;
}

.about-me .container {
    display: flex;
    align-items: center;
}

.about-me .info {
    margin-right: 65px;
}

.about-me p {
    color: #000;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.about-me .button {
    width: 246px;
    margin-left: 30px;
}

.about-me .photo {
    margin-right: -50px;
}

/* My Projects */

.my-projects {
    margin-top: 300px;
    background: rgba(255, 214, 150, 0.20);
    text-align: center;
    padding-top: 35px;
    margin-bottom: 270px;
}

.my-projects p {
    margin: 0;
    color: #000;
    font-size: 24px;
}

.my-projects .line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.my-projects .items {
    padding: 45px 100px 20px;
}

/* Contact Me */

.contact-me {
    background: rgba(67, 186, 253, 0.06);
    text-align: center;
    padding-top: 65px;
    padding-bottom: 120px;
    margin-bottom: 210px;
}

.contact-me p {
    margin: 0;
    color: #000;
    font-size: 24px;
    margin-top: 10px;
}

.contact-me .wrapper {
    display: flex;
}

.contact-me .contact-form {
    margin-top: 135px;
}

.contact-me .contact-form label {
    visibility: hidden;
}

.contact-me .contact-form input, 
.contact-me .contact-form textarea {
    background: #FFF;
    box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    width: 653px;
    height: 94px;
    color: #000;
    font-size: 32px;
    padding: 0 55px;
}

.contact-me .contact-form input::placeholder, 
.contact-me .contact-form textarea::placeholder {
    color: #000;
}

.contact-me .contact-form input {
    margin-bottom: 55px;
}

.contact-me .contact-form textarea {
    height: 265px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-me .contact-form .form-button {
    width: 327px;
    margin-top: 45px;
}

.contact-me .photo img {
    margin-left: -130px;
    margin-top: -30px;
}

/* Page Footer */

.page-footer {
    background-color: rgba(255, 214, 150, 0.20);
    padding-top: 130px;
}

.page-footer .logo-and-subscribe {
    margin-right: 110px;
}

.page-footer .logo {
    color: #0E0578;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 16.8px;
    text-align: right;
    margin-bottom: 50px;
}

.page-footer .subscribe-input {
    border-radius: 30px;
    background: #000;
    width: 323px;
    height: 97px;
    color: #FFF;
    font-size: 31px;
    font-weight: 700;
    border: none;
    padding-left: 30px;
    padding-right: 90px;
}

.page-footer .subscribe-input::placeholder {
    color: #FFF;
}

.page-footer .subscribe-button {
    border-radius: 30px;
    background: #F965FC;
    color: #FFF;
    font-family: inherit;
    font-size: 31px;
    font-weight: 700;
    border: none;
    padding: 24px 16px 28px;
    margin-left: -60px;
}

.page-footer .subscribe {
    display: flex;
}

.page-footer .wrapper {
    display: flex;
}

.page-footer h3 {
    color: #000;
    font-size: 31px;
    font-weight: 700;
    margin: 0;
}

.page-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 105px;
}

.page-footer ul li {
    margin-top: 40px;
}

.page-footer ul a, 
.page-footer .wrapper p {
    color: #000;
    font-size: 31px;
    font-weight: 400;
    text-decoration: none;
}

.page-footer ul a:hover {
    text-decoration: underline;
}

.page-footer hr {
    border: none;
    background: #000;
    height: 3px;
    margin-top: 100px;
}

.page-footer .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer .copyright p {
    color: #000;
    font-size: 32px;
    margin: 70px 0 50px;
}

.page-footer .social i {
    margin-left: 90px;
}
